.gradient {
  background-color: #4facfe !important;
  background-image: linear-gradient(20deg, #4facfe 0%, #00f2fe 100%) !important;
}

.gradb {
  background-color: #4facfe !important;
  background-image: linear-gradient(20deg, #4facfe 0%, #00f2fe 100%) !important;
}

.gradb:hover {
  background-color: #4facfe !important;
  background-image: linear-gradient(20deg, rgb(59, 152, 234) 0%, rgb(0, 222, 234) 100%) !important;
}

.field-input {
  display: inline-block;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  padding: 12px;
  width: 392px;
}

.field-input:focus {
  color: #14171A;
  outline: none !important;
  border-color: rgba(0,132,180,0.5);
}

.field-input::-webkit-input-placeholder {
  color: #aab8c2;
}

.ui.big.button.blue {
  background-color: #1da1f2;
  color: #fff;
  width: 392px;
  border-radius: 40px;
}  

.form-helper {
  margin-top: 22px;
  font-size: 16px;
  text-align: center;
}

.form-helper > p > a {
  color: #1da1f2;
  font-weight: bold;
  margin-left: 2px;
}

.form-helper > p > a:hover {
  color: rgb(9, 141, 222);
  text-decoration: underline;
}
