.create-tweet-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 590px;
  height:140px;
  background: #e8f4fb;
}

.logo-text-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-center;
  height: 100px;
}

.create-tweet-container.small {
  height:60px;
}

.logo-text-container.small {
  display: flex;
  flex-direction: row;
  justify-content: flex-center;
  height: 68px;
}


.avatar32 {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  position: relative;
  left: 20px;
  top: 14px;
}


.twitter-textarea {
  position: relative;
  resize: none;
  top: 10px;
  left: 30px;
  color:#000;
  outline: none !important;
  padding: 10px;
  height: 80px;
  width: 510px;
  border-color: #A3D4F2;
  box-shadow: 0 0 0 1px #A3D4F2;
  border-radius: 8px;
}
.twitter-textarea::-webkit-input-placeholder {  color: #ccd6dd; }

.twitter-textarea.small {
  height: 38px;
  box-shadow: 0 0 0 0px #A3D4F2;
}
.twitter-textarea.small::-webkit-input-placeholder {  color: #1b95e0; }

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button-container {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-end;
  bottom: 1px;
  right: 16px;
}

.ui.small.button.blue.disabled {
  opacity: 0.25 !important;
}

.ui.small.button.blue {
  background-color: #48AAE6;
  border: 1px solid #48AAE6;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  transition: box-shadow .15s ease-in-out;
}

.ui.small.button.blue:hover {
  background-color: #1da1f2;
  border: 1px solid #1da1f2;
}



.counter {
    color: #657786;
    display: inline-block;
    border: 0;
    font-size: 14px;
    position: relative;
    right: 10px;
    top: 8px;
}
.counter.redtext {
  color: #d40d12;
}
