
.tweet {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 588px;
  background: #fff;
  border-bottom: 1px solid #e6ecf0;
  cursor: pointer;
  padding: 12px 12px;
}

.tweet.loading {
  background-color: #f5f8fa;
  color: #1B95E0;
  display: flex;
  flex: 1;
  height:42px;
  justify-content: center;
  font-size: 14px; 
}
.tweet.loading:hover {
  background-color: #e6ecf0;
  border: 1px solid #ccd6dd;
}


.tweet-container :hover {
  background-color: #f5f8fa;
  cursor: pointer;
}

.tw-avatar {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  cursor: pointer;
}

.tweet-info-container {
  display: flex;
  flex-direction: column
}

.user-info {
  display: flex;
  flex-direction: row
}

.fullname {
  margin-left: 10px;
  color: #14171A;
  font-size: 14px;
  font-weight: bold;
}

.fullname:hover {
  text-decoration: underline;
}

.username {
  color: #657786;
  margin-left: 5px;
  cursor: pointer;
}

.time {
  color: #657786;
  margin-left: 5px;
}

.time:before {
  content: "\00b7";
  margin-right: 5px;
}

.text-container {
  margin-left: 10px;
}