
.UserStats {
  width: 290px;
  height: 210px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #e6ecf0;
}

.userinfo-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
}

.user-banner {
  background-size: 100%;
  height: 95px;
  width: 100%;
  cursor: pointer;
}

.user-avatar {
  border: 3px solid #fff;
  border-radius: 50%;
  height: 72px;
  width: 72px;
  cursor: pointer;
  position: relative;
  left: 8px;
  bottom: 34px;
}

.usertext-container {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 50px;
}

.user-fullname {
  font-size: 18px;
  position: relative;
  left: 18px;
  top: 5px;
  color: #14171A;
  font-weight: bold;
}

.user-fullname:hover {
  text-decoration: underline;
  color: #14171A;
}

.user-username {
  font-size: 14px;
  position: relative;
  top: 5px;
  left: 18px;
  color: #657786;
  cursor: pointer;
  letter-spacing: .02em;
}

.user-username:hover {
  text-decoration: underline;
}


.all-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.stats-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  right: 15px;
}

.stats-title {
  color: #657786;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  letter-spacing: .02em;
  overflow: hidden;
  transition: color .15s ease-in-out;
}
.stats-title:hover {
  color: #1B95E0
}

.stats-number {
  color: #1B95E0;
  font-weight: bold;
  font-size: 17px;
  margin-left: 2px;
  cursor: pointer;
}