
.userinfo-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
}

.user-banner {
  background-size: 100%;
  height: 95px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-position: 0 50%;
  width: 100%;
  padding: 0;
  margin-top: 0px;
  cursor: pointer;
}

.user-avatar {
  border: 3px solid #fff;
  border-radius: 50%;
  height: 72px;
  width: 72px;
  cursor: pointer;
  position: relative;
  left: 8px;
  bottom: 34px;
}

.usertext-container {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 50px;
}

.user-fullname {
  font-size: 18px;
  position: relative;
  left: 18px;
  top: 5px;
  color: #14171A;
  font-weight: bold;
}

.user-fullname:hover {
  text-decoration: underline;
  color: #14171A;
}

.user-username {
  font-size: 14px;
  position: relative;
  top: 5px;
  left: 18px;
  color: #657786;
  cursor: pointer;
}

.user-username:hover {
  text-decoration: underline;
}


.all-stats {
  display: flex;
  flex-direction: row;
}

.stats-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 12px;
}

.stats-title {
  color: #657786;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  cursor: pointer;
}
.stats-title:hover {
  color: #1da1f2;
}

.stats-number {
  color: #1da1f2;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  margin-left: 2px;
  cursor: pointer;
}